@{
    ViewBag.Title = "聯絡方式";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    台北市忠孝東路一段1號1樓<br />    
    <abbr title="電話：">電話:</abbr>
    02-876543210
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>